@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Cascadia-Code/CascadiaCode-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Cascadia-Code/CascadiaCode-Bold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Oswald/Oswald-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Oswald/Oswald-Bold.ttf"), local("ttf");
  font-display: swap;
}

//
//

@font-face {
    font-family: "Archivo";
    src: url(fonts/Archivo/Archivo-Regular.ttf), local("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Archivo";
    src: url(fonts/Archivo/Archivo-Bold.ttf), local("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
