{% extends "base.html" %}

{% macro content(page) %}
    <div class="visible-element-observer-root" data-selector="main article p">
        <main>
            <article>
                <div class="title">
                    {#<h1 class="title">{{ page.title }}</h1>#}
                    {{ post_macros::page_header(title=page.title) }}

                    <div class="meta">
                        {# Change date format and omit if same as updated date #}
	            	{% if page.date %}
	                	Posted {% if page.updated and page.date | date(format="%d %B %Y") != page.updated | date(format="%d %B %Y") or not page.updated -%} on <time title="{{ page.date }}">{{ page.date | date(format="%d %B %Y") }}</time> {% endif %}
	            	{% endif %}
	            
	            	{# Add updated date #}
	            	{% if page.date and page.updated %}
	                	and updated on <time title="{{ page.updated }}">{{ page.updated | date(format="%d %B %Y") }}</time>
	            	{% endif %}
	            
	            	{# Add last updated date for content without posted date #}
	            	{% if not page.date and page.updated %}
	            		Last updated on <time title="{{ page.updated }}">{{ page.updated | date(format="%d %B %Y") }}</time>
            	    	{% endif %}

                        {# Add link to commit history if page has been updated #}
            	    	{% if page.updated %}
            	        	(<a href="{{ config.extra.file_history_base_url }}{{ page.relative_path }}">view history</a>)
            	    	{% endif %}

                        {# Add page author under title/dates #}
                        {# Show only if the page title isn't About or Contact ... #}
                        {# ... AND either the site title isn't also an author (assumes this is a name) or there are multiple authors #}
                    	{%- if page.title not in ["About", "Contact"] and (config.title not in page.authors or page.authors | length > 1) %}
			        <br>
			        Written by 
			        {% if page.authors -%}
			            {%- if page.authors -%}
			                {%- for author in page.authors -%}
			                    {%- if loop.last and not loop.first %}
			                         and 
			                    {%- elif not loop.first -%}
			                        ,
			                    {%- endif %}
			                     {{ page.authors[loop.index0] }}
			                {%- endfor -%}
			            {%- endif -%}
			        {%- elif config.author -%}
			            {{ config.author }}
			        {%- else -%}
			            an unknown author
			        {%- endif -%}
			{%- endif -%}
			    
		        {# Inline display of tags directly after the authors #}
		  	{% if page.taxonomies and page.taxonomies.tags %}
		        	<br>
		        	<span class="tags-label">Tagged as</span>
		            	<span class="tags">
		                {%- for tag in page.taxonomies.tags %}
		                    <a href="{{ get_taxonomy_url(kind='tags', name=tag, lang=page.lang) }}"
		                       class="post-tag">{{ tag }}</a>
		                {% endfor %}
		            	</span>
                	{% endif %}
	                
	                {# Add reading time #}
		        <br>
		        {{ page.reading_time }} minute{% if page.reading_time != 1%}s{% endif %} to read
		        
		        {# Add link to post source #}
	            	<br>
	            	<a href="{{ config.extra.file_content_base_url }}{{ page.relative_path }}">View original file on {{ config.extra.git_platform }}</a>
	            	
	            	{# Add license declaration and link #}
	            	<br>
	            	{% if page.extra.license %}
	            		Post content licensed under <a href = "{{ page.extra.license_url }}">{{ page.extra.license }}</a>
	            	{% elif config.extra.content_license %}
	            		Site content licensed under <a href = "{{ config.extra.content_license_url }}">{{ config.extra.content_license }}</a>
	            	{% endif %}
	            	{% if config.extra.license_explainer %}
	            		(<a href = "{{ config.extra.license_explainer }}">see what's included</a>)
	            	{% endif %}

                        {# Change the draft label #}
                        {% if page.draft %}<span class="draft-label">Draft</span>{% endif %}

                    </div>
                </div>

                {# Re-word and add a line break #}
                {% if page.extra.tldr %}
                    <div class="tldr">
                        <br>
                        <strong>Summary</strong>:
                        {{ page.extra.tldr }}
                    </div>
                {% endif %}

                <section class="body">
                    {{ page.content | safe }}
                </section>
            </article>
        </main>
    </div>
{% endmacro content %}


{% block main_content %}
    {{ self::content(page=page) }}
{% endblock main_content %}

{% block right_content %}
    {# Optional table of contents #}
    {% if config.extra.toc | default(value=false) and page.toc %}
        {% include "partials/toc.html" %}
    {% endif %}
{% endblock right_content %}
